@import "~reset-css";
@import "theming";

html,
body {
  height: 100%;
  width: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include mat-core();
@include angular-material-theme($latafi-app-theme);

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//#region Angular components override
// .property-editor-wrapper {
//   @include latafi-app-theme();

//   .mat-form-field {
//     width: 50%;
//     font-weight: 100;
//   }
// }
//#endregion
