:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.cide-unique-component-container {
  position: relative;
  display: block;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.cide-component-container {
  position: relative;
}
.cide-unique-1 {
  position: absolute;
  background-color: green;
  width: 200px;
  height: 83.59999084472656px;
  transform: translate3d(234px, 110px, 0px);
}
.cide-unique-5 {
  position: absolute;
  background-color: red;
  width: 344.800048828125px;
  height: 162.80001831054688px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  display: block;
  transform: translate3d(509px, 112px, 0px);
}
.cide-unique-a85ac46d-8810-45e8-b4b2-c5f77db8bca2 {
  transform: translate3d(5px, 9px, 0px);
}
.cide-unique-231d673d-f085-1599-9ad0-d784d9b92c31 {
  width: 921px;
  height: 302.8000183105469px;
  position: absolute;
  transform: translate3d(149px, 65px, 0px);
}
