:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.cide-unique-component-container {
  position: relative;
  display: block;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.cide-component-container {
  position: relative;
}
.cide-unique-1 {
  position: absolute;
  background-color: green;
  width: 200px;
  height: 50px;
  transform: translate3d(239.99993896484375px, 164.99999237060547px, 0px);
}
.cide-unique-5 {
  position: absolute;
  background-color: red;
  width: 240px;
  height: 70px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  display: block;
  transform: translate3d(241.39999389648438px, 86.60000610351562px, 0px);
}
.cide-unique-a85ac46d-8810-45e8-b4b2-c5f77db8bca2 {
  transform: translate3d(5px, 9px, 0px);
}
