:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.cide-component-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.cide-component {
  width: 200px;
  height: 50px;
  background-color: red;
}
.cide-unique-1 {
  left: 919px;
  top: 131px;
  position: absolute;
}
.cide-unique-5 {
  left: 65px;
  top: 39px;
  position: absolute;
}
.ide-wrapper {
  position: absolute;
  top: calc(50% - 45vh);
  left: calc(50% - 45vw);
  width: 90vw;
  height: 90vh;
}
