@import '../theming';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.ide-editor {
  position: relative;
  flex: 1;
}
.ide-wrapper {
  position: relative;
  flex: 1;
  background-color: map-get(map-get($latafi-app-theme, 'background'), 'background');
}
