:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.cide-component-container {
  height: 100%;
  width: 100%;
}

.cide-component {
  width: 200px;
  height: 50px;
  background-color: red;
}

.ide-wrapper {
  position: absolute;
  top: calc(50% - 45vh);
  left: calc(50% - 45vw);
  width: 90vw;
  height: 90vh;
}
